.card {
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(to bottom, #0b1e3d8e, #00000086);
  color: white;
  width: 85%;
  height: 80vh;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
  margin: 20px auto;
  display: flex;
  flex-direction: column;

border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border: 1px solid #05A4FC;
}


.card-header {
  position: relative;
  top: 0;
  background-color: var(--color-accent);
  color: var(--color-primary);
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  z-index: 10; 
}

.card-title {
  font-weight: 500;
  font-size: 1.3rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center; 
  z-index: 11;
}

/* new card header search bar class for search bar styling on admin since they appeared on the far right corner */
.card-header-search-bar {
  max-width: 400px; 
  flex-grow: 0; 
  flex-shrink: 0;
  display: flex;
  gap: 10px; 
  justify-content: flex-start; 
  padding-right: 20px; 
}

.card-header-action {
  flex-shrink: 0; 
  margin-left: auto; 
  padding-right: 10px; 
  z-index: 12;
}

.create-btn {
  background-color: #6C4CDA;
  color: white;
  border: none;
  padding: 25px 25px; 
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.create-btn:hover {
  background-color: #775ad3;
}

.card-icons {
  position: absolute;
  right: 15px;
  display: flex;
  gap: 12px;
}

.icon-button {
  background: none;
  border: none;
  color: var(--color-primary);
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icon-button:hover {
  transform: scale(1.2);
}

.card-body {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  text-align: center;
  color: #ddd;

}

.card-body::-webkit-scrollbar {
  width: 8px;
 
}

.card-body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.card-body::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}


